﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="~/Scripts/popper.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>



    <title>@ViewBag.Title</title>
    <style>
        .field-validation-error {
            color: #f00;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #f00;
            background-color: #fee;
        }

        .validation-summary-errors {
            font-weight: bold;
            color: #f00;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <header class="card-header"></header>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            @if (Session["Name"] == null)
            {
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/Resources/Images/Logo/calendar-logo.png" width="30" height="30" alt="Calendar">
                </a>
            }
            else
            {
                <a class="navbar-brand" href="/Sheet/Schedule">
                    <img src="~/Resources/Images/Logo/calendar-logo.png" width="30" height="30" alt="Calendar">
                </a>
            }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Sheet/Schedule">Kalendarz <span class="sr-only">(current)</span></a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>*@
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    @Html.Partial("~/Features/Layout/_LoginPartial.cshtml")
                </ul>
            </div>
        </div>
    </nav>

    <div class="card">
        <div class="card-body">
            @RenderBody()
        </div>
    </div>

    <div class="card-footer ">
        <footer class="blockquote">
            <p class="text-center" style="display: block; font-size: 80%;color: #6c757d;">&copy; Wszystkie prawa zastrzeżone - @DateTime.Now.Year - Radosław Nowak Calendar Schedule Application</p>
        </footer>
    </div>
</body>
</html>
