﻿@if (Session["Name"] != null)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="~/Resources/Octions/person.svg"> @Session["Name"]
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/Sheet/Import">Importuj kalendarz</a>
            <a class="dropdown-item" href="/Sheet/Export">Eksportuj kalendarz</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/Account/Logout"><img src="~/Resources/Octions/sign-out.svg" /> Wyloguj</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link mr-sm-2" href="/Account/Login"><img src="~/Resources/Octions/sign-in.svg"> Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link my-sm-0" href="/Account/Register"><img src="~/Resources/Octions/organization.svg"> Register</a>
    </li>
}
