﻿@model Calendar.Features.Account.Models.LoginViewModel

@{
    ViewBag.Title = "Logowanie";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<div class="col-md-8 offset-md-1 justify-content-sm-center">
    <div class="card-title">
        <h2>Logowanie</h2>
    </div>
</div>
<div class="col-md-12 col-sm-5">
    <div class="card-title border-bottom"></div>
</div>


<div class="container">
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-warning">
            <h3 class="alert-heading">Uwaga!</h3> @ViewBag.Error
        </div>
    }
    @Html.ValidationSummary()
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group col-md-4 col-sm-4">
            <div class="form-text">
                @Html.Label("Email")
            </div>
            @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4 col-sm-4">
            <div class="form-text">
                @Html.Label("Hasło")
            </div>
            @Html.PasswordFor(x => x.Password, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4 col-sm-4">
            <div class="form-text">
                @Html.CheckBoxFor(x => x.Remember) @Html.Label("Zapamiętaj mnie")
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-4">
            <input type="submit" value="Zaloguj" class="btn btn-default" />
        </div>
    }
</div>

