﻿@model Calendar.Features.Account.Models.RegisterViewModel

@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<div class="col-md-8 offset-md-1 justify-content-sm-center">
    <div class="card-title">
        <h2>Rejestracja</h2>
    </div>
</div>
<div class="col-md-12 col-sm-5">
    <div class="card-title border-bottom"></div>
</div>


<div class="container">
    @if (ViewBag.Register != null)
    {
        <div class="alert alert-success">
            <h3 class="alert-heading">Gratulacje!</h3>Pomyślnie założono konto użytkownika: @ViewBag.Register
        </div>
    }
    @Html.ValidationSummary()
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group col-md-4 col-sm-4">
            <div class="form-text">
                @Html.Label("Imię")
            </div>
            @Html.TextBoxFor(x => x.Name, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4 col-sm-4">
            <div class="form-text">
                @Html.Label("Nazwisko")
            </div>
            @Html.TextBoxFor(x => x.Surname, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4 col-sm-4">
            <div class="form-text">
                @Html.Label("Telefon")
            </div>
            @Html.TextBoxFor(x => x.PhoneNumber, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4 col-sm-4">
            <div class="form-text">
                @Html.Label("Email")
            </div>
            @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "form-control", @onchange = "AccountCheck();" })
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="form-text">
                <p id="Status"></p>
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-4">
            <div class="form-text">
                @Html.Label("Hasło")
            </div>
            @Html.PasswordFor(x => x.Password, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4 col-sm-4">
            <div class="form-text">
                @Html.Label("Powtórz hasło")
            </div>
            @Html.PasswordFor(x => x.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4 col-sm-4">
            <input type="submit" value="Zarejestruj" class="btn btn-default" />
        </div>
    }
</div>

@*<script type="text/javascript">
    $(document).ready(function AccountCheck() {
        var email = document.getElementById("Email");
            $.post("@Url.Action("CheckExistedEmail", "Account")",
            {
                userdata: $("#Email").val()
            },
            function (data) {
                if (data == 0) {
                    $("#Status").html('<font color="Green">Email nie występuje w bazie</font>');
                    $("#Email").css("border-color", "Green");
                }
                else {
                    $("#Status").html('<font color="red">Email jest zajęty</font>');
                    $("#Email").css("border-color", "Red");
                }
            })        
    });
</script>*@

