﻿
@{
    ViewBag.Title = "Strona Główna";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<div class="col-md-8 offset-md-1 justify-content-sm-center">
    <div class="card-title">
        <h2>Strona Główna</h2>
    </div>
</div>
<div class="col-md-12 col-sm-5">
    <div class="card-title border-bottom"></div>
</div>


<div class="container">
    Strona Główna projektu
</div>

