﻿@{
    ViewBag.Title = "Eksportowanie";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<div class="col-md-8 offset-md-1 justify-content-sm-center">
    <div class="card-title">
        <h2>Eksportowanie kalendarza</h2>
    </div>
</div>
<div class="col-md-12 col-sm-5">
    <div class="card-title border-bottom"></div>
</div>

<div class="container">
    <div class="card-body">
        <a class="btn btn-dark" href="@Url.Action("CSVFileExport", "Sheet")">Eksportuj do .CSV</a>
        <p></p>
        <a class="btn btn-dark" href="@Url.Action("ICSFileExport", "Sheet")">Eksportuj do .ICS</a>
    </div>
</div>