﻿@{
    ViewBag.Title = "Importowanie";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<div class="col-md-8 offset-md-1 justify-content-sm-center">
    <div class="card-title">
        <h2>Importowanie kalendarza</h2>
    </div>
</div>
<div class="col-md-12 col-sm-5">
    <div class="card-title border-bottom"></div>
</div>


<div class="container">
    @if (ViewBag.ChoiseFile != null)
    {
        <div class="alert alert-warning alert-dismissible fade show">
            <strong>Uwaga! </strong>@ViewBag.ChoiseFile
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (ViewBag.WrongFileExtension != null)
    {
        <div class="alert alert-warning alert-dismissible fade show">
            <strong>Uwaga! </strong>@ViewBag.WrongFileExtension
            <hr />
            <p class="mb-0">Proszę ponownie wybrać plik</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (ViewBag.ErrorColumns != null)
    {
        <div class="alert alert-danger alert-dismissible fade show">
            <strong>Błąd! </strong>@ViewBag.ErrorColumns
            <hr />
            <p class="mb-0">Proszę ponownie wybrać plik</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @using (Html.BeginForm("Import", "Sheet", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="card-body">
            Wybierz plik: <input type="file" name="importingFile" />
            <br />
            @Html.Label("Czy chcesz importować wszystkie wydarzenia od dzisiaj?")
            @Html.CheckBox("importFromToday", isChecked: false, htmlAttributes: new { @style = "height: 30px; width: 30px;" })
            <br />
            <input type="submit" value="Importuj" />
        </div>
    }

</div>

