﻿
@{
    ViewBag.Title = "Kalendarz";
    Layout = "~/Features/Layout/_LayoutPage.cshtml";
}

<link rel="stylesheet" href="~/Content/fullcalendar.css" />
<link rel="stylesheet" href="~/Content/fullcalendar.print.css" media="print" />
<link rel="stylesheet" href="~/Infrastructure/farbtastic/farbtastic.css" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>
<script src="~/Scripts/locale-all.js"></script>
<script src="~/Scripts/my-main-calendar.js"></script>

<script src="~/Infrastructure/farbtastic/farbtastic.js"></script>

<style>
    #dropzone {
        width: 100%;
        height: 130px;
        background-color: #808080;
        border: 5px dashed black;
        text-align: center;
        color: #ffffff;
    }

    .dropzone-active {
        background-color: #3f577e !important;
        border: 5px solid #474747 !important;
        opacity: 0.5;
    }
</style>

<div class="col-md-8 offset-md-1 justify-content-sm-center">
    <div class="card-title">
        <h2>Kalendarz</h2>
    </div>
</div>
<div class="col-md-12 col-sm-5">
    <div class="card-title border-bottom"></div>
    @*@Html.Editor("Color", new { htmlAttributes = new { @class = "form-control", required = "required", type = "color", style = "width:40px;padding:0;" } })*@
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 border-right">
                    <div class="container">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <td class="border-0 font-weight-bold">Typy wydarzeń:</td>
                                </tr>
                            </thead>
                            <tbody id="tbodyForManageEventTypes">
                                @*<tr id="manageEventTypes">
                                        <td class="border-0">
                                            <button class="btn" type="button" id="manageEventColor" style="width: 100%; background-color: black; color:white; display:block;">
                                                <span class="font-weight-bold" id="manageEventName">TEKST</span>
                                            </button>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            @Html.TextBox("txtAddEventName", null, htmlAttributes: new { @class = "form-control-sm" })
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-sm btn-light" id="addEventName" type="button">Dodaj</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="colorpicker"></div>
                        <input type="text" id="color" name="color" value="#123456" />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                @if (ViewBag.RedundantRecord != null)
                {
                    <div class="alert alert-warning alert-dismissible fade show">
                        <strong>Uwaga! </strong>@ViewBag.RedundantRecord
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                    <div id="calendar">
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="eventTitle"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p id="eventDetails"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="editButton" class="btn btn-primary">Edytuj</button>
                                        <button id="deleteButton" class="btn btn-danger" type="button">Usuń</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="editModal" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalEditTitle"></h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="font-weight-bold">Temat: </label>
                                            @Html.TextBox("eventScheduleID", new { }, htmlAttributes: new { @class = "text-hide" })
                                            @Html.TextBox("txtSubject", new { }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold">Rozpoczęcie: </label>
                                            @Html.TextBox("dtStart", new { }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold">Zakończenie: </label>
                                            @Html.TextBox("dtEnd", new { }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold">Opis: </label>
                                            @Html.TextArea("txtDescription", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold">Typ wydarzenia: </label>
                                            <select class="form-control" id="txtEventTypeID"></select>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold">Uwagi: </label>
                                            @Html.TextBox("txtAttention", new { }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            Wybierz pliki: <input type="file" id="txtFiles" name="txtFiles" formenctype="multipart/form-data" multiple />
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                        @*<div class="form-group">
                                            <form class="box" method="post" action="" enctype="multipart/form-data">
                                                <div id="dropzone">
                                                    <p>Przeciągnij i upuść tutaj pliki</p>
                                                    <p>lub</p>
                                                    <button class="btn btn-primary">Otwórz przeglądarke plików</button>
                                                </div>
                                                <div id="uploaded-file-body" style="display: none;">
                                                    <h4>Przesłane pliki</h4>
                                                    <ul class="list-group" id="uploaded-list"></ul>
                                                </div>
                                            </form>
                                        </div>*@
                                    </div>
                                    <div class="modal-footer">
                                        <button id="confirmEditButton" class="btn btn-success">Potwierdź</button>
                                        <button id="cancelEditButton" class="btn btn-light" type="button">Anuluj</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal fade" id="deleteModal" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Czy na pewno chcesz usunąć?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="confirmDeleteButton" class="btn btn-danger" type="button">Potwierdź</button>
                                        <button id="cancelDeleteButton" class="btn btn-light">Anuluj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="eventTypeModal" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="eventTypeName"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p id="eventTypeDetails"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="editEventTypeButton" class="btn btn-primary">Edytuj</button>
                                        <button id="deleteEventTypeButton" class="btn btn-danger" type="button">Usuń</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="editModalEventType" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edycja typu wydarzenia</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="font-weight-bold">Typ wydarzenia: </label>
                                            @Html.TextBox("txtAddEventName", new { }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold">Kolor: </label>
                                            
                                            <div id="colorpicker"></div>
                                            <input type="text" id="color" name="color" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="confirmEditButton" class="btn btn-success">Potwierdź</button>
                                        <button id="cancelEditButton" class="btn btn-light" type="button">Anuluj</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>